


@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}



@media screen and (max-width: 1199px) {

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav a {
    font-size: 14px;
}


}


@media screen and (max-width: 991px) {


    .header .manu-contact-top {
    top: -7px;
}

.user-auth {
    padding-top: 23px;
}

.header .manu-contact-top ul {flex-direction: column;justify-content: end !important;gap: 0 !important;align-items: end !important;font-size: 12px;}

.header .header-right {
    padding: 0;
    width: 100%;
    position: static !important;
}

header .header-close svg {
    width: 26px;
    height: 26px;
}

header .offcanvas-header {
    padding: 10px;
    border: none !important;
}


.header-right .offcanvas-body {
    align-items: flex-start;
}

.navbar-nav .nav-item {
    padding: 7px 20px;
    margin: 0;
}

.navbar-nav .nav-item .dropdown-menu {
    position: static !important;
    transform: initial !important;
    margin: 0 !important;
    padding: 0;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    background: transparent;
    padding: 4px 12px;
    font-size: 13px;
    line-height: 125%;
}

.navbar-nav .nav-item .dropdown-menu li:last-child .dropdown-item {
    padding-bottom: 0;
    margin-bottom: 0;
}

.header .offcanvas {
    width: 330px;
}


.datepicker-sec .date-box, .datepicker-sec .date-box:nth-child(3)  {
    width: calc(50% - 20px);
}

.datepicker-sec .date-box.button-box {
    width: 100%;
}




.plp-filter {
    width: 100%;
}

.plp-list {
    width: 100%;
    margin: 0;
}

.plplist-sec {
    padding-top: 20px;
}

.pt-64 {
    padding-top: 0px !important;
}

.main-gallery {
    height: 450px;
}

}





@media screen and (max-width: 767px) {

.datepicker-sec .date-box, .datepicker-sec .date-box:nth-child(3)  {
    width: 100%;
    margin: 6px 0;
}

.footer-bottom ul {
    max-width: 75%;
}
.logo {
    padding-top: 15px;
}

.main-slider {
    padding: 20px 0 20px;
}


.plplist-sec .text-box-card .plp-box-bottom .text-left-plp {
    width: 100%;
}

.plplist-sec .text-box-card .plp-box-bottom .text-right-plp {
    padding: 15px 0 0;
}

.plp-list .card-box .img-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.plp-list .card-box .img-box {
    width: 100%;
}

.pagination-filter button {
    font-size: 10px;
    padding: 6px 9px;
}

.main-gallery {
    height: 250px;
}


.thumb-gallery  {
    display: none;
}






.tabs-com-sec .nav-pills {
    width: 120px;
}

.tabs-com-sec .tab-content {
    width: calc(100% - 120px);
    padding: 10px;
}

.text-img-sdjust-box img {
    width: 100%;
    padding: 0 0 10px;
    float: none;
}




.Faq .accordion-item button {
    font-size: 15px;
    padding: 10px 10px;
    line-height: 20px;
}

ul.listing-box-dot li {
    font-size: 14px; 
}


.block-list-sec .info-img {
    height: 180px;
}

.mape-sec iframe {
    height: 250px;
}


.listing-card .card-list {
    width: 100%;
    margin: 0;
}


.tabs-content-box iframe {
    height: 260px;
}

.word-brk {
    word-break: break-all;
}

.calendar-wrapper.opencalendar-box div[role="table"] {
    overflow: scroll;
}


}